@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>

<h3>Current Environment</h3>
<environment names="Development">
	<strong>HostingEnvironment.EnvironmentName is Development</strong>
</environment>
<environment names="Staging">
	<strong>HostingEnvironment.EnvironmentName is Staging </strong>
</environment>
<environment names="Test">
	<strong>HostingEnvironment.EnvironmentName is Test</strong>
</environment>
<environment names="Production">
	<strong>HostingEnvironment.EnvironmentName is Production</strong>
</environment>
